@using Flat4Me.Web.Portal.Models
@model LoginViewModel
@{
    ViewBag.Title = "Вход";
}

<br />
<br />
<br />
<br />
<br />
<br />
<div class="container">
    <div class="col-lg-4 col-lg-offset-4">
        <div class="well">
            <div class="row">
                <div class="col-md-12">
                    <section id="loginForm">
                        @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                        {
                            @Html.AntiForgeryToken()
                            <h4>Войти с помощью аккаунта Квартира для меня</h4>
                            <hr />
                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                            <div class="form-group">
                                @Html.LabelFor(m => m.Email, new { @class = "col-md-2 control-label" })
                                <div class="col-md-10">
                                    @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(m => m.Password, new { @class = "col-md-2 control-label" })
                                <div class="col-md-10">
                                    @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-offset-2 col-md-10">
                                    @Html.CheckBoxFor(m => m.RememberMe)
                                    @Html.LabelFor(m => m.RememberMe)
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-offset-2 col-md-10">
                                    <input type="submit" value="Войти" class="btn btn-default" />
                                </div>
                            </div>
                            <p>
                                @Html.ActionLink("Зарегистрироваться", "Register")
                            </p>

                            <p>
                                @Html.ActionLink("Забыли пароль?", "ForgotPassword")
                            </p>
                        }
                    </section>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <section id="socialLoginForm">
                        @*@Html.Partial("_ExternalLoginsListPartial", new ExternalLoginListViewModel { ReturnUrl = ViewBag.ReturnUrl })*@
                        @using (Html.BeginForm("ExternalLogin", "Account", new { ReturnUrl = ViewBag.ReturnUrl }))
                        {
                            @Html.AntiForgeryToken()
                            <h4>Войти с помощью внешнего аккаунта</h4>
                            <hr />
                            <div id="socialLoginList">
                                <p>
                                    <button type="submit" class="btn btn-default" id="Vkontakte" name="provider" value="Vkontakte">ВКонтакте</button>
                                    <button type="submit" class="btn btn-default" id="Facebook" name="provider" value="Facebook">Facebook</button>
                                    <button type="submit" class="btn btn-default" id="Google" name="provider" value="Google">Google</button>
                                    <button type="submit" class="btn btn-default" id="Microsoft" name="provider" value="Microsoft">Microsoft</button>
                                    <button type="submit" class="btn btn-default" id="Twitter" name="provider" value="Twitter">Твиттер</button>
                                    @*@foreach (AuthenticationDescription p in loginProviders)
                                        {
                                            <button type="submit" class="btn btn-default" id="@p.AuthenticationType" name="provider" value="@p.AuthenticationType" title="Log in using your @p.Caption account">@p.AuthenticationType</button>
                                        }*@
                                </p>
                            </div>
                        }
                    </section>
                </div>
            </div>
        </div>
    </div>
</div>