@using Flat4Me.Web.Portal.App_LocalResources

@* priceListItem *@
<script id="priceListItemTemplate" type="text/x-handlebars-template">
    <div id="PriceItem_{{ViewIndex}}">
        <div class="col-md-5" style="padding-left:0px; padding-right:1px;">
            <select name='PriceList[{{ViewIndex}}].DurationDays' data-selected-value='{{DurationDays}}'
                    class='form-control'>
                <option value='1'>1 сутки</option>
                <option value='2'>2 суток</option>
                <option value='3'>3 суток</option>
                <option value='4'>4 суток</option>
                <option value='5'>5 суток</option>
                <option value='6'>6 суток</option>
                <option value='7'>1 неделя</option>
                <option value='8'>8 суток</option>
                <option value='9'>9 суток</option>
                <option value='10'>10 суток</option>
                <option value='11'>11 суток</option>
                <option value='12'>12 суток</option>
                <option value='13'>13 суток</option>
                <option value='14'>2 недели</option>
                <option value='15'>15 суток</option>
                <option value='16'>16 суток</option>
                <option value='17'>17 суток</option>
                <option value='18'>18 суток</option>
                <option value='19'>19 суток</option>
                <option value='21'>3 недели</option>
                <option value='31'>Месяц</option>
            </select>
        </div>
        <div class="col-md-5 has-feedback" style="padding-left:1px; padding-right:0px;">
            <input name='PriceList[{{ViewIndex}}].ViewIndex' value='{{ViewIndex}}'
                   type='hidden' />
            <input name='PriceList[{{ViewIndex}}].PriceId' value='{{PriceId}}'
                   type='hidden' />
            <input name='PriceList[{{ViewIndex}}].Amount' value='{{Amount}}'
                   type='text' class='form-control'>
            <span class="fa fa-rub form-control-feedback"></span>
        </div>
        <div class="col-md-1">
            <button class="btn btn-sm btn-default" onclick="Accommodation.removePrice('{{ViewIndex}}'); return false;">
                <span class="fa fa-trash"></span>
            </button>
        </div>
    </div>
</script>

@* photoListItem *@
<script id="photoListItemTemplate" type="text/x-handlebars-template">
    <div class="col-md-2">
        <button class="btn btn-sm btn-default pull-right"
                data-photo-id="{{PhotoId}}"
                onclick="Accommodation.removePhoto($(this)); return false;">
            <span class="fa fa-trash"></span>
        </button>
        <img class="img-thumbnail {{#if IsPrimary}}bg-primary{{/if}}" src="{{TinyPath}}"
             data-photo-id="{{PhotoId}}"
             data-primary="{{IsPrimary}}"
             data-file-name="{{FileName}}"
             onclick="Accommodation.setPhotoPrimary($(this))" />
    </div>
</script>

@* accommodationShortItemEdit *@
<script id="accommodationShortItemEditTemplate" type="text/x-handlebars-template">
    @* Accommodation data form *@
    <div class="col-md-4">
        <form id="accommodationDataForm" class="form-horizontal">
            @* AccommodationId *@
            <input id="AccommodationId" name="AccommodationId" value="{{AccommodationId}}" type="hidden" />
            @* Command buttons top *@
            <div class="form-group">
                <div class="col-md-7">
                    <p>
                        <a class="btn btn-circle btn-default" href="@Url.Action("Index")">
                            Назад
                        </a>
                        <a class="btn btn-circle btn-success" onclick="Accommodation.save(); return false;">
                            Сохранить
                        </a>
                    </p>
                </div>
            </div>

            <div class="form-horizontal">
                <div class="form-group">
                    <div class="col-md-3 control-label">
                        Жилье
                    </div>
                    <div class="col-md-7">
                        <input class="form-control" value="@AccommodationTypeMap.apartment" disabled />
                        
                        <input id="AccommodationTypeCode" name="AccommodationTypeCode" value="{{AccommodationTypeCode}}"                               
                               type="hidden" />
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-3 control-label">
                        Название
                    </div>
                    <div class="col-md-7">
                        <input id="Name" name="Name" value="{{Name}}"
                               type="text" class="form-control" />
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-3 control-label">
                        Город
                    </div>
                    <div class="col-md-7">
                        <input id="CityId" name="CityId" value="{{CityId}}"
                               type="hidden" data-selector="#cityTypeahead" />
                        <input id="cityTypeahead" value="{{CityName}}"
                               type="text" class="form-control" placeholder="Авто поиск" />
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-3 control-label">
                        Адрес
                    </div>
                    <div class="col-md-4" style="padding-right:0px;">
                        <input id="StreetName" name="StreetName" value="{{StreetName}}"
                               type="text" class="form-control" placeholder="Улица" />
                    </div>                    
                    <div class="col-md-3">
                        <input id="HouseNumber" name="HouseNumber" value="{{HouseNumber}}"
                               type="text" class="form-control" placeholder="Дом (корпус)" />
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-3 control-label">
                        Валюта
                    </div>
                    <div class="col-md-7">
                        <span class="fa fa-rub"
                              data-toggle="tooltip"
                              data-placement="right"
                              data-original-title="@CurrencyMap.rub"></span>
                        <input id="CurrencyCode" name="CurrencyCode" value="{{CurrencyCode}}" type="hidden" />
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-3 control-label">
                        Минимальный срок проживания (дней)
                    </div>
                    <div class="col-md-7">
                        <select name="MinDurationDays" class="form-control" data-selected-value='{{MinDurationDays}}'>
                            <option value="1">1 сутки</option>
                            <option value="2">2 суток</option>
                            <option value="3">3 суток</option>
                            <option value="4">4 суток</option>
                            <option value="5">5 суток</option>
                            <option value="6">6 суток</option>
                            <option value="7">7 суток</option>
                        </select>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-3 control-label">
                        Стоимость
                    </div>
                    <div class="col-md-1">
                        <button class="btn btn-sm btn-default" onclick="Accommodation.addPrice(); return false;">
                            <span class="fa fa-plus"></span>
                        </button>
                    </div>
                    <div id="PriceList" class="col-md-6">
                        {{#each PriceList}}
                        {{> priceListItemTemplate}}
                        {{/each}}
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-3 control-label">
                        Площадь
                    </div>
                    <div class="col-md-7">
                        <input name="Area" value="{{Area}}"
                               type="text" class="form-control" />
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-3 control-label">
                        Максимальное кол-во гостей
                    </div>
                    <div class="col-md-7">
                        <select name="MaxGuestsCount" class="form-control" data-selected-value='{{MaxGuestsCount}}'>
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                            <option value="6">6</option>
                            <option value="7">7</option>
                            <option value="8">8</option>
                            <option value="9">9</option>
                            <option value="10">10</option>
                        </select>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-3 control-label">
                        Кол-во комнат
                    </div>
                    <div class="col-md-7">
                        <select name="RoomCount" class="form-control" data-selected-value='{{RoomCount}}'>
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                            <option value="6">6</option>
                        </select>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-3 control-label">
                        Спальни
                    </div>
                    <div class="col-md-7">
                        <select name="BedroomCount" class="form-control" data-selected-value='{{BedroomCount}}'>
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                            <option value="6">6</option>
                        </select>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-3 control-label">
                        Вынная комната
                    </div>
                    <div class="col-md-7">
                        <select name="BathroomCount" class="form-control" data-selected-value='{{BathroomCount}}'>
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                        </select>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-3 control-label">
                        Комната отдыха
                    </div>
                    <div class="col-md-7">
                        <select name="LoungeRoomCount" class="form-control" data-selected-value='{{LoungeRoomCount}}'>
                            <option value="0">0</option>
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                            <option value="6">6</option>
                        </select>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-3 control-label">
                        Спальные места
                    </div>
                    <div class="col-md-7">
                        <input name="SleepsCount" value="{{SleepsCount}}"
                               type="text" class="form-control" placeholder="Пример: 2+1 или 2+2+1" />
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-3 control-label">
                        Мебель и техника
                    </div>
                    <div class="col-md-7">
                        <textarea name="Furniture" class="form-control" rows="5" cols="0">{{Furniture}}</textarea>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-3 control-label">
                        Инфраструктура
                    </div>
                    <div class="col-md-7">
                        <textarea name="Infrastructure" class="form-control" rows="5" cols="0">{{Infrastructure}}</textarea>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-3 control-label">
                        Кондиционер
                    </div>
                    <div class="col-md-7">
                        @Html.CheckBox("HasAirConditioning", new { @class = "{{#if HasAirConditioning}}checked{{/if}}" })
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-3 control-label">
                        Стиральная машина
                    </div>
                    <div class="col-md-7">
                        @Html.CheckBox("HasWashingMachine", new { @class = "{{#if HasWashingMachine}}checked{{/if}}" })
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-3 control-label">
                        Холодильник
                    </div>
                    <div class="col-md-7">
                        @Html.CheckBox("HasRefrigerator", new { @class = "{{#if HasRefrigerator}}checked{{/if}}" })
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-3 control-label">
                        Кухня
                    </div>
                    <div class="col-md-7">
                        @Html.CheckBox("HasKitchen", new { @class = "{{#if HasKitchen}}checked{{/if}}" })
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-3 control-label">
                        Лифт
                    </div>
                    <div class="col-md-7">
                        @Html.CheckBox("HasElevator", new { @class = "{{#if HasElevator}}checked{{/if}}" })
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-3 control-label">
                        Парковка
                    </div>
                    <div class="col-md-7">
                        @Html.CheckBox("HasParking", new { @class = "{{#if HasParking}}checked{{/if}}" })
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-3 control-label">
                        Джакуззи
                    </div>
                    <div class="col-md-7">
                        @Html.CheckBox("HasJacuzzi", new { @class = "{{#if HasJacuzzi}}checked{{/if}}" })
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-3 control-label">
                        Интернет
                    </div>
                    <div class="col-md-7">
                        @Html.CheckBox("HasInternet", new { @class = "{{#if HasInternet}}checked{{/if}}" })
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-3 control-label">
                        Wi-Fi
                    </div>
                    <div class="col-md-7">
                        @Html.CheckBox("HasWiFi", new { @class = "{{#if HasWiFi}}checked{{/if}}" })
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-3 control-label">
                        Газовый водонагреватель
                    </div>
                    <div class="col-md-7">
                        @Html.CheckBox("HasGasWaterHeater", new { @class = "{{#if HasGasWaterHeater}}checked{{/if}}" })
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-3 control-label">
                        Электрический водонагреватель
                    </div>
                    <div class="col-md-7">
                        @Html.CheckBox("HasElectricWaterHeater", new { @class = "{{#if HasElectricWaterHeater}}checked{{/if}}" })
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-3 control-label">
                        Посуда
                    </div>
                    <div class="col-md-7">
                        @Html.CheckBox("HasDish", new { @class = "{{#if HasDish}}checked{{/if}}" })
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-3 control-label">
                        Посудомоечная машина
                    </div>
                    <div class="col-md-7">
                        @Html.CheckBox("HasDishwasher", new { @class = "{{#if HasDishwasher}}checked{{/if}}" })
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-3 control-label">
                        Микроволновая печь
                    </div>
                    <div class="col-md-7">
                        @Html.CheckBox("HasMicrowave", new { @class = "{{#if HasMicrowave}}checked{{/if}}" })
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-3 control-label">
                        Электрический чайник
                    </div>
                    <div class="col-md-7">
                        @Html.CheckBox("HasElectricKettle", new { @class = "{{#if HasElectricKettle}}checked{{/if}}" })
                    </div>
                </div>


                <div class="form-group">
                    <div class="col-md-3 control-label">
                        Фен
                    </div>
                    <div class="col-md-7">
                        @Html.CheckBox("HasHairDryer", new { @class = "{{#if HasHairDryer}}checked{{/if}}" })
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-3 control-label">
                        Утюг
                    </div>
                    <div class="col-md-7">
                        @Html.CheckBox("HasIron", new { @class = "{{#if HasIron}}checked{{/if}}" })
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-3 control-label">
                        Домофон
                    </div>
                    <div class="col-md-7">
                        @Html.CheckBox("HasIntercom", new { @class = "{{#if HasIntercom}}checked{{/if}}" })
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-3 control-label">
                        Консьерж
                    </div>
                    <div class="col-md-7">
                        @Html.CheckBox("HasConcierge", new { @class = "{{#if HasConcierge}}checked{{/if}}" })
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-3 control-label">
                        Охрана
                    </div>
                    <div class="col-md-7">
                        @Html.CheckBox("HasSecurity", new { @class = "{{#if HasSecurity}}checked{{/if}}" })
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-3 control-label">
                        Туалетные пренадлежности
                    </div>
                    <div class="col-md-7">
                        @Html.CheckBox("HasToiletries", new { @class = "{{#if HasToiletries}}checked{{/if}}" })
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-3 control-label">
                        ТВ
                    </div>
                    <div class="col-md-7">
                        @Html.CheckBox("HasTV", new { @class = "{{#if HasTV}}checked{{/if}}" })
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-3 control-label">
                        Кабельное ТВ
                    </div>
                    <div class="col-md-7">
                        @Html.CheckBox("HasTVCable", new { @class = "{{#if HasTVCable}}checked{{/if}}" })
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-3 control-label">
                        Курение разрешено
                    </div>
                    <div class="col-md-7">
                        @Html.CheckBox("IsSmokingAllowed", new { @class = "{{#if IsSmokingAllowed}}checked{{/if}}" })
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-3 control-label">
                        Животные разрешены
                    </div>
                    <div class="col-md-7">
                        @Html.CheckBox("IsAnimalsAllowed", new { @class = "{{#if IsAnimalsAllowed}}checked{{/if}}" })
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-3 control-label">
                        Возможно для проведения встреч
                    </div>
                    <div class="col-md-7">
                        @Html.CheckBox("IsPrivateAllowed", new { @class = "{{#if IsPrivateAllowed}}checked{{/if}}" })
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-3 control-label">
                        Возможно проведение фотосессий
                    </div>
                    <div class="col-md-7">
                        @Html.CheckBox("IsPhotoSessionAllowed", new { @class = "{{#if IsPhotoSessionAllowed}}checked{{/if}}" })
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-3 control-label">
                        Гипоаллергенно
                    </div>
                    <div class="col-md-7">
                        @Html.CheckBox("IsHypoallergenic", new { @class = "{{#if IsHypoallergenic}}checked{{/if}}" })
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-3 control-label">
                        Залог
                    </div>
                    <div class="col-md-7">
                        @Html.CheckBox("HasDeposit", new { @class = "{{#if HasDeposit}}checked{{/if}}" })
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-3 control-label">
                        Сумма залога
                    </div>
                    <div class="col-md-7">
                        <div class="has-feedback">
                            <input name="Deposit"
                                   type="text" class="form-control" value="{{Deposit}}">
                            <span class="fa fa-rub form-control-feedback"></span>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-3 control-label">
                        Залог необходимо внести при бронировании
                    </div>
                    <div class="col-md-7">
                        @Html.CheckBox("IsDepositWhenReservation", new { @class = "{{#if IsDepositWhenReservation}}checked{{/if}}" })
                    </div>
                </div>

                @* Command buttons bottom *@
                <div class="form-group">
                    <div class="col-md-7">
                        <p>
                            <a class="btn btn-circle btn-default" href="@Url.Action("Index")">
                                Назад
                            </a>
                            <a class="btn btn-circle btn-success" onclick="Accommodation.save(); return false;">
                                Сохранить
                            </a>
                        </p>
                    </div>
                </div>
            </div>
        </form>
    </div>

    @* File upload group *@
    <div class="col-md-8">
        <div class="row">
            <div class="col-md-12">
                <div id="mapContainer" style="height:400px;"></div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                @* The file upload form used as target for the file upload widget *@
                <form id="imgUploadForm" enctype="multipart/form-data">
                    <div class="row fileupload-buttonbar">
                        <div class="col-md-4">
                            <span class="btn btn-success fileinput-button">
                                <span>Загрузить изображения...</span>
                                <input id="tstFile" type="file" name="files[]" multiple>
                            </span>
                        </div>
                        <!-- The global progress state -->
                        <div class="col-md-8 fileupload-progress">
                            <div class="progress progress-striped active" style="display: none;" role="progressbar" aria-valuemin="0" aria-valuemax="100">
                                <div class="progress-bar progress-bar-success" style="width:0%;"></div>
                                <div class="text-info horizontal-center">0%</div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <div id="PhotoList" class="container-fluid">
                    <div class="row">
                        {{#each PhotoList}}
                        {{> photoListItemTemplate}}
                        {{/each}}
                    </div>
                </div>
            </div>
        </div>
    </div>
</script>