@model YaMaps.Models.AccommodationShortLocation

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>AccommodationShortLocation</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.FullAddress)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FullAddress)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PointY)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PointY)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PointX)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PointX)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PointData)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PointData)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
