@using Flat4Me.Web.Boss.Models.Short
@model IEnumerable<HotelierProfileUnapprovedViewModel>

@{
    ViewBag.Title = "Hoteliers";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section scripts{
<script type="text/javascript">
        $(document).ready(function () {
            
        });
</script>
}
<h2>Хотельеры на подтверждение</h2>

<table class="table table-bordered table-responsive">
    <thead>
        <tr>
            <th>Фото</th>
            <th>Город</th>
            <th>Имя</th>
            <th>Email</th>
            <th>Телефон</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    <img src="@item.PhotoTinyPath" />
                </td>
                <td>
                    @item.CityName
                </td>
                <td>
                    @item.LastName @item.FirstName
                </td>
                <td>
                    @item.Email
                </td>
                <td>
                    @item.PhoneNumber
                </td>
                <td>
                    @Html.ActionLink("Утвердить аккаунт", "ApproveHotelier", new { userId = item.UserId }, null)                    
                </td>
            </tr>
        }
    </tbody>
</table>